body{
    margin: 0px;
    padding: 0px;
    font-size:14px;
    font-familly:'Lato' san-serif;
    
}


.navbar{
    display: block;
    background:#2c2c54;
    padding:15px;
    font-size:20px;
    font-weight:400px;
}

.nav_item a{
    display: block;
    color:#fff !important;
    text-align: center;
    text-decoration: none;
    transition: all .5s linear;
} 
.nav_item a:hover{
    background: #5b5ba7;
    color: #2c2c54 !important;
    transition: all .5s linear;

}

.section{
    margin-top:100px;
}